footer ul {
  font-size: 13px;
  list-style-type: none;
}

/* footer hr {
  /* margin-left: -20%; */
  /* margin-right: -4.5rem; */
/* } */ 

.logo {
  height: 40px;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.payment-logo {
  height: 25px;
  margin-right: 2px;
}
