@include for-phone {
    main {
        .body-wrapper {
            .banner-section {
                .search-wrapper {
                    padding-top: 30%;
                    width: 80%;
                }
            }
            .stats-section {
                .item {
                    margin-bottom: 10px;
                }
            }
            .join-us-section {
                .features {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                }
                .feature {
                    padding: 20px 10px;
                }
            }
        }
    }

    .aboutus-container {
        img {
            width: 100%;
        }
    }
}
@include from-tablet {
    main {
        .body-wrapper {
            .banner-section {
                .search-wrapper {
                    .look-icon {
                        display: block;
                        position: absolute;
                        left: -140px;
                        bottom: 15px;
                    }
                }
            }
            .common-schools {
                padding: 0 40px;
                .school-logos {
                    justify-content: space-between;

                    .school {
                        width: 150px;
                        height: 150px;
                        img {
                            width: 80px;
                            height: 80px;
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
            .stats-section {
                display: flex;
                justify-content: space-between;
                margin: 50px;

                .item {
                    h5 {
                        font-size: 24px;
                    }
                    h1 {
                        font-size: 60px;
                    }
                }
            }

            .join-us-section {
                p {
                    font-size: 24px;
                }
                .features {
                    display: flex;
                    justify-content: space-around;
                }
                .feature {
                    width: 25%;
                    padding: 10px;
                }
                .feature:not(:last-child) {
                    margin-right: 10px;
                }
            }

            .folks-talk-section {
                display: flex;
                flex-direction: column;
                p {
                    font-size: 25px;
                }
                .reviews {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin: 35px auto;
                }
            }
        }
    }
    .aboutus-container {
        display: flex;
    }
    .policies-container {
        display: flex;

        .policies-index {
            width: unset;
        }
        .policies-content {
            width: 70%;
        }
    }
}
@include for-desktop {
    main {
        .body-wrapper {
            .stats-section {
                justify-content: space-around;
                margin: 50px 100px;
            }
            .banner-section {
                height: 845px;
            }
        }
    }
}
