.navigationCrumb {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px 0 0 3px;
  height: 40px;
}
.navigationCrumb:hover {
  border: 2px solid black;
}

.navigationCrumb a {
  color: black;
  text-decoration: none;
}

/* @media (max-width: 576px) {
  .navigationCrumb {
    height: 12vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightorange;
    padding: 1%;
  }
} */
