li i.step1-icon {
  color: black;
  margin-left: 7.7px;
  margin-top: 7px;
}

li.active i.step1-icon {
  color: white;
  margin-left: 7.7px;
  margin-top: 7px;
}

li i.step2-icon {
  color: black;
  margin-left: 5.5px;
  margin-top: 7px;
}

li.active i.step2-icon {
  color: white;
  margin-left: 5.5px;
  margin-top: 7px;
}

li i.step3-icon {
  color: black;
  margin-left: 6px;
  margin-top: 7px;
}

li.active i.step3-icon {
  color: white;
  margin-left: 6px;
  margin-top: 7px;
}

li i.step4-icon {
  color: black;
  margin-left: 9px;
  margin-top: 7px;
}

li.active i.step4-icon {
  color: white;
  margin-left: 9px;
  margin-top: 7px;
}

.checkout-steps ul {
  list-style: none;
  padding: 0;
}

.checkout-steps ul li {
  top: -22px;
  left: -1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  z-index: 200;
  position: relative;
}

.checkout-steps ul li.active {
  background-color: #3268ff;
  color: #3268ff;
}

#step1::after {
  top: 30px;
  content: 'Sign In';
  left: -3px;

  position: absolute;
}

#step2::after {
  top: 30px;
  content: 'Shipping';
  left: -4px;
}
#step3::after {
  top: 30px;
  content: 'Payment';
  left: -5px;
}

#step4::after {
  top: 30px;
  content: 'Place Order';
  position: absolute;
  left: -12px;
}

#step4::before {
  left: -400px;
}

.checkout-steps ul li::after {
  position: absolute;
  top: 25px;

  font-size: 0.8rem;
  width: 90px;
}
