.cart-qty {
  border-radius: 100%;
  position: relative;
  bottom: 12px;
  left: 2px;

  font-size: 8px;
}
.badge {
  background-color: #ff6a00;
}

.logo {
  height: 8vh;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

.navbar {
  font-size: small;
  height: 12vh;
}
.header-text .cart {
  margin-right: -30%;
}

@media (max-width: 575.98px) {
  .logo {
    height: 40px;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
  }

  .navbar {
    font-size: small;
    height: 80px;
  }

  .header-text {
    font-size: 0px;
    margin: -1vw;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .header-text {
    font-size: 0px;
    margin: -1vw;
  }

  .navbar {
    font-size: small;
    height: 80px;
  }
}
