/* @media (min-width: 576px) {
} */

/* .search-box {
  width: 95vw;
} */

@media (min-width: 576px) and (max-width: 767.98px) {
  .search-box {
    width: 30vw;
    margin-left: -5%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-box {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .search-box {
    width: 140%;
    margin-left: -30%;
  }
}

@media (min-width: 1200px) {
  .search-box {
    width: 140%;
    margin-left: -30%;
  }
}
/* .search-box {
  width: 190%;
} */
